<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" type="text/css" href="/static/tufte.css" />
        <title>{{ .Title }} - (pr)esent me</title>
    </head>
    <body>
        <header>
            <a href="/" class="faded mono small" title="present-me /">go /</a>
        </header>
        <main>
            <article>
                <section>
                    {{ .Body }}
                </section>
            </article>
        </main>
    </body>
</html>
