<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" type="text/css" href="/static/tufte.css" />
    </head>
    <body>
        <header>
        </header>
        <main>
            <article>
                <section>
                    <h2>Error</h2>
                    <p>{{ .Error }}</p>
                    <a href="/" class="faded mono small" title="present-me /">go /</a>
                </section>
            </article>
        </main>
    </body>
</html>
