name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: lint
      uses: golangci/golangci-lint-action@v2.5.1

    - name: build server
      run: go build -mod readonly ./cmd/server

    - name: build gen-md
      run: go build -mod readonly ./cmd/gen-md

    - name: test
      run: go test -mod readonly -v .
